USE [master]
GO
/****** Object:  Database [School]    Script Date: 7/16/2020 12:24:55 PM ******/
CREATE DATABASE [School]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'School', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\School.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'School_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\School_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/16/2020 12:24:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 7/16/2020 12:24:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 7/16/2020 12:24:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SchoolID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Class] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassDay]    Script Date: 7/16/2020 12:24:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassDay](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClassRoomID] [int] NOT NULL,
	[DayID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ClassDay] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassLesson]    Script Date: 7/16/2020 12:24:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassLesson](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherID] [int] NOT NULL,
	[ClassDayID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[LessonID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ClassLesson] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Day]    Script Date: 7/16/2020 12:24:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Day](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Day] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 7/16/2020 12:24:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Lesson] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[School]    Script Date: 7/16/2020 12:24:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[School](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.School] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 7/16/2020 12:24:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[ClassID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 7/16/2020 12:24:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Subject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 7/16/2020 12:24:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Teacher] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([ID], [UserName], [Password]) VALUES (2, N'moamen', N'123456')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([ID], [Name], [SchoolID]) VALUES (1, N'ClassA', 1)
INSERT [dbo].[Class] ([ID], [Name], [SchoolID]) VALUES (3, N'ClassB', 1)
INSERT [dbo].[Class] ([ID], [Name], [SchoolID]) VALUES (4, N'ClassC', 1)
SET IDENTITY_INSERT [dbo].[Class] OFF
SET IDENTITY_INSERT [dbo].[ClassDay] ON 

INSERT [dbo].[ClassDay] ([ID], [ClassRoomID], [DayID]) VALUES (1, 1, 1)
INSERT [dbo].[ClassDay] ([ID], [ClassRoomID], [DayID]) VALUES (2, 1, 2)
INSERT [dbo].[ClassDay] ([ID], [ClassRoomID], [DayID]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[ClassDay] OFF
SET IDENTITY_INSERT [dbo].[ClassLesson] ON 

INSERT [dbo].[ClassLesson] ([ID], [TeacherID], [ClassDayID], [SubjectID], [LessonID]) VALUES (1, 1, 1, 1, 1)
INSERT [dbo].[ClassLesson] ([ID], [TeacherID], [ClassDayID], [SubjectID], [LessonID]) VALUES (2, 1, 1, 1, 2)
INSERT [dbo].[ClassLesson] ([ID], [TeacherID], [ClassDayID], [SubjectID], [LessonID]) VALUES (6, 3, 1, 3, 3)
SET IDENTITY_INSERT [dbo].[ClassLesson] OFF
SET IDENTITY_INSERT [dbo].[Day] ON 

INSERT [dbo].[Day] ([ID], [Name]) VALUES (1, N'Saturday')
INSERT [dbo].[Day] ([ID], [Name]) VALUES (2, N'Sunday')
INSERT [dbo].[Day] ([ID], [Name]) VALUES (3, N'Monday')
SET IDENTITY_INSERT [dbo].[Day] OFF
SET IDENTITY_INSERT [dbo].[Lesson] ON 

INSERT [dbo].[Lesson] ([ID], [Name]) VALUES (1, N'First')
INSERT [dbo].[Lesson] ([ID], [Name]) VALUES (2, N'Second')
INSERT [dbo].[Lesson] ([ID], [Name]) VALUES (3, N'Third')
SET IDENTITY_INSERT [dbo].[Lesson] OFF
SET IDENTITY_INSERT [dbo].[School] ON 

INSERT [dbo].[School] ([ID], [Name]) VALUES (1, N'Echo')
SET IDENTITY_INSERT [dbo].[School] OFF
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([ID], [Name], [Phone], [Email], [ClassID]) VALUES (1, N'Sayed', N'0115756822', N'sayed@gmail.com', 1)
INSERT [dbo].[Student] ([ID], [Name], [Phone], [Email], [ClassID]) VALUES (3, N'Ali', N'0125742811', N'ali@gmail.com', 3)
SET IDENTITY_INSERT [dbo].[Student] OFF
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([ID], [Name]) VALUES (1, N'Math')
INSERT [dbo].[Subject] ([ID], [Name]) VALUES (2, N'English')
INSERT [dbo].[Subject] ([ID], [Name]) VALUES (3, N'Arabic')
SET IDENTITY_INSERT [dbo].[Subject] OFF
SET IDENTITY_INSERT [dbo].[Teacher] ON 

INSERT [dbo].[Teacher] ([ID], [Name], [Phone], [Email]) VALUES (1, N'Taha Ibrahim', N'01095753955', N'taha@gmail.com')
INSERT [dbo].[Teacher] ([ID], [Name], [Phone], [Email]) VALUES (3, N' Sara Mahmoud', N'01195753622', N'sara@gmail.com')
SET IDENTITY_INSERT [dbo].[Teacher] OFF
/****** Object:  Index [IX_SchoolID]    Script Date: 7/16/2020 12:24:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_SchoolID] ON [dbo].[Class]
(
	[SchoolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClassRoomID]    Script Date: 7/16/2020 12:24:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_ClassRoomID] ON [dbo].[ClassDay]
(
	[ClassRoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DayID]    Script Date: 7/16/2020 12:24:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_DayID] ON [dbo].[ClassDay]
(
	[DayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClassDayID]    Script Date: 7/16/2020 12:24:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_ClassDayID] ON [dbo].[ClassLesson]
(
	[ClassDayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LessonID]    Script Date: 7/16/2020 12:24:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_LessonID] ON [dbo].[ClassLesson]
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubjectID]    Script Date: 7/16/2020 12:24:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubjectID] ON [dbo].[ClassLesson]
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherID]    Script Date: 7/16/2020 12:24:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_TeacherID] ON [dbo].[ClassLesson]
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClassID]    Script Date: 7/16/2020 12:24:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_ClassID] ON [dbo].[Student]
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT ((0)) FOR [ClassID]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Class_dbo.School_SchoolID] FOREIGN KEY([SchoolID])
REFERENCES [dbo].[School] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_dbo.Class_dbo.School_SchoolID]
GO
ALTER TABLE [dbo].[ClassDay]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassDay_dbo.Class_ClassID] FOREIGN KEY([ClassRoomID])
REFERENCES [dbo].[Class] ([ID])
GO
ALTER TABLE [dbo].[ClassDay] CHECK CONSTRAINT [FK_dbo.ClassDay_dbo.Class_ClassID]
GO
ALTER TABLE [dbo].[ClassDay]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassDay_dbo.Day_DayID] FOREIGN KEY([DayID])
REFERENCES [dbo].[Day] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassDay] CHECK CONSTRAINT [FK_dbo.ClassDay_dbo.Day_DayID]
GO
ALTER TABLE [dbo].[ClassLesson]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassLesson_dbo.ClassDay_ClassDayID] FOREIGN KEY([ClassDayID])
REFERENCES [dbo].[ClassDay] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassLesson] CHECK CONSTRAINT [FK_dbo.ClassLesson_dbo.ClassDay_ClassDayID]
GO
ALTER TABLE [dbo].[ClassLesson]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassLesson_dbo.Lesson_LessonID] FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lesson] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassLesson] CHECK CONSTRAINT [FK_dbo.ClassLesson_dbo.Lesson_LessonID]
GO
ALTER TABLE [dbo].[ClassLesson]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassLesson_dbo.Subject_SubjectID] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassLesson] CHECK CONSTRAINT [FK_dbo.ClassLesson_dbo.Subject_SubjectID]
GO
ALTER TABLE [dbo].[ClassLesson]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassLesson_dbo.Teacher_TeacherID] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassLesson] CHECK CONSTRAINT [FK_dbo.ClassLesson_dbo.Teacher_TeacherID]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Student_dbo.Class_ClassID] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class] ([ID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_dbo.Student_dbo.Class_ClassID]
GO
USE [master]
GO
